[Link to tutorial](https://github.com/gjreda/pydata2014nyc)

In [12]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('max_columns', 50)

In [13]:
mo = pd.read_csv('https://raw.githubusercontent.com/gjreda/pydata2014nyc/master/data/mariano-rivera.csv')
mo.tail()

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,WHIP,H/9,HR/9,BB/9,SO/9,SO/BB,Awards
14,2009,39,NYY,AL,3,3,0.500,1.76,66,0,55,0,0,44,66.1,48,14,13,7,12,1,72,1,0,1,257,262,0.905,6.5,0.9,1.6,9.8,6.00,ASMVP-14
15,2010,40,NYY,AL,3,3,0.500,1.80,61,0,55,0,0,33,60.0,39,14,12,2,11,3,45,5,0,0,230,241,0.833,5.9,0.3,1.7,6.8,4.09,AS
16,2011,41,NYY,AL,1,2,0.333,1.91,64,0,54,0,0,44,61.1,47,13,13,3,8,2,60,2,0,1,233,226,0.897,6.9,0.4,1.2,8.8,7.50,ASCYA-8
17,2012,42,NYY,AL,1,1,0.500,2.16,9,0,9,0,0,5,8.1,6,2,2,0,2,2,8,0,0,0,32,203,0.960,6.5,0.0,2.2,8.6,4.00,NaN
18,2013,43,NYY,AL,6,2,0.750,2.11,64,0,60,0,0,44,64.0,58,16,15,6,9,3,54,1,0,0,256,192,1.047,8.2,0.8,1.3,7.6,6.00,AS

In [4]:
#removes $ sign formatting to get price into floating point
clean = lambda s: s.replace('$', '')[:-1] if '.' in s else s.replace('$', '') # a lot going on here
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'
sandwiches = pd.read_table(url, sep='\t', converters={'price': lambda s: float(clean(s))})

sandwiches.head()

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,10.0,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,9.0,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,9.5,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925
3,4,Roast Beef,Al&rsquo;s Deli,"The Francophile brothers behind this deli, whi...",9.4,914 Noyes St.,Evanston,NaN,alsdeli.net,"914 Noyes St., Evanston","914 Noyes Street, Evanston, IL 60201, USA",42.058442,-87.684425
4,5,PB&amp;L,Publican Qualty Meats,"When this place opened in February, it quickly...",10.0,825 W. Fulton Mkt.,Chicago,312-445-8977,publicanqualitymeats.com,"825 W. Fulton Mkt., Chicago","825 West Fulton Market, Chicago, IL 60607, USA",41.886637,-87.648553

## Pandas can read .json too

In [5]:
gh = pd.read_json('https://api.github.com/repos/pydata/pandas/issues?per_page=3')
gh[['body', 'created_at', 'title', 'url']].head(3)
#Pull json entries [[]]

,body,created_at,title,url
0,\r\n - [x] tests added / passed\r\n - [x] pass...,2016-08-01 23:50:25,BUG: Series creation with datetime64 with non-...,https://api.github.com/repos/pydata/pandas/iss...
1,"It's not an issue in py3.5, but in older versi...",2016-08-01 22:02:20,API: consider better decorator option,https://api.github.com/repos/pydata/pandas/iss...
2,- [x] closes #13730\r\n - [ ] tests added / p...,2016-08-01 21:16:57,BUG: Fix Period and PeriodIndex support of com...,https://api.github.com/repos/pydata/pandas/iss...

## Clipboard

In [ ]:
clip = pd.read_clipboard()
clip.head()

# SQL

In [1]:
from pandas.io import sql
import sqlite3

In [20]:
conn = sqlite3.connect('towed.db') #connection string
query = "SELECT * FROM towed"
towed = sql.read_sql(query, con=conn, parse_dates={'date':'%m/%d/%Y'})
towed.head()

,date,make,style,model,color,plate,state,towed_to,facility_phone,inventory_num
0,2014-11-18,FORD,LL,,BLK,S105053,IL,10300 S. Doty,(773) 568-8495,2750424
1,2014-11-18,HOND,4D,ACC,BLK,S415270,IL,400 E. Lower Wacker,(312) 744-7550,917129
2,2014-11-18,CHRY,VN,,SIL,V847641,IL,701 N. Sacramento,(773) 265-7605,6798366
3,2014-11-18,HYUN,4D,,SIL,N756530,IL,400 E. Lower Wacker,(312) 744-7550,917127
4,2014-11-18,TOYT,4D,,WHI,K702211,IL,400 E. Lower Wacker,(312) 744-7550,917128

In [21]:
query2 = "Select * from towed where make = 'HYUN'"
towed2 = sql.read_sql(query2, con=conn)
towed2.head()

,date,make,style,model,color,plate,state,towed_to,facility_phone,inventory_num
0,11/18/2014,HYUN,4D,,SIL,N756530,IL,400 E. Lower Wacker,(312) 744-7550,917127
1,11/18/2014,HYUN,4D,,GLD,V391056,IL,701 N. Sacramento,(773) 265-7605,6798355
2,11/18/2014,HYUN,4D,,GLD,V732368,IL,701 N. Sacramento,(773) 265-7605,6798325
3,11/17/2014,HYUN,4D,,SIL,V504997,IL,701 N. Sacramento,(773) 265-7605,6798258
4,11/15/2014,HYUN,4D,,RED,V128618,IL,10300 S. Doty,(773) 568-8495,2750212

In [8]:
#USE parse_dates={'date':'%m/%d/%Y'} to get dates into a different format

In [9]:
towed[109:119] #regular slicing/indexing

,date,make,style,model,color,plate,state,towed_to,facility_phone,inventory_num
109,2014-11-18,NISS,4D,,GRY,E203840,IL,400 E. Lower Wacker,(312) 744-7550,6798305
110,2014-11-18,FORD,LL,,WHI,304356D,IL,701 N. Sacramento,(773) 265-7605,6798302
111,2014-11-18,CHEV,4D,,SIL,N649600,IL,10300 S. Doty,(773) 568-8495,2750395
112,2014-11-18,CHEV,PK,,RED,70478D,IL,10300 S. Doty,(773) 568-8495,2750391
113,2014-11-18,PONT,4D,,SIL,A569679,IL,10300 S. Doty,(773) 568-8495,2750388
114,2014-11-18,CHRY,4D,,SIL,2040028,IL,10300 S. Doty,(773) 568-8495,2750390
115,2014-11-18,FORD,VN,,TAN,S670967,IL,10300 S. Doty,(773) 568-8495,2750393
116,2014-11-18,JEEP,,,,S743026,IL,10300 S. Doty,(773) 568-8495,2750392
117,2014-11-18,MERZ,2D,,SIL,V526971,IL,10300 S. Doty,(773) 568-8495,2750389
118,2014-11-17,BUIC,4D,,SIL,E380034,IL,10300 S. Doty,(773) 568-8495,2750385

In [10]:
towed.info() #gives you information on the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5065 entries, 0 to 5064
Data columns (total 10 columns):
date              5065 non-null datetime64[ns]
make              5065 non-null object
style             5065 non-null object
model             5065 non-null object
color             5065 non-null object
plate             5065 non-null object
state             5065 non-null object
towed_to          5065 non-null object
facility_phone    5065 non-null object
inventory_num     5065 non-null int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 395.8+ KB

In [15]:
mo.describe() #Basic stats on the dataframe

,Year,Age,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,WHIP,H/9,HR/9,BB/9,SO/9,SO/BB
count,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.0,19.0,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000
mean,2004.000000,34.000000,4.315789,3.157895,0.570158,2.222105,58.684211,0.526316,50.105263,0.0,0.0,34.315789,67.315789,52.526316,17.894737,16.578947,3.736842,15.052632,2.157895,61.736842,2.421053,0.157895,0.684211,268.578947,222.157895,0.998684,6.994737,0.489474,1.994737,8.142105,4.870000
std,5.627314,5.627314,2.083070,1.462994,0.174293,0.918861,17.023032,2.294157,19.944074,0.0,0.0,15.198877,18.657506,15.886292,8.305920,8.064434,2.423086,8.140937,1.500487,24.250641,1.894899,0.374634,0.749269,75.045405,56.108291,0.171747,1.107787,0.328117,0.779939,1.403296,2.553853
min,1995.000000,25.000000,1.000000,0.000000,0.200000,1.380000,9.000000,0.000000,2.000000,0.0,0.0,0.000000,8.100000,6.000000,2.000000,2.000000,0.000000,2.000000,0.000000,8.000000,0.000000,0.000000,0.000000,32.000000,84.000000,0.665000,5.200000,0.000000,0.800000,5.300000,1.700000
25%,1999.500000,29.500000,3.000000,2.000000,0.500000,1.800000,61.000000,0.000000,51.500000,0.0,0.0,31.500000,62.550000,45.000000,14.000000,13.000000,2.500000,10.500000,1.000000,51.500000,1.000000,0.000000,0.000000,251.000000,192.000000,0.901000,6.300000,0.300000,1.300000,6.900000,3.350000
50%,2004.000000,34.000000,4.000000,3.000000,0.571000,1.910000,64.000000,0.000000,57.000000,0.0,0.0,39.000000,70.200000,58.000000,16.000000,14.000000,3.000000,12.000000,2.000000,60.000000,2.000000,0.000000,1.000000,277.000000,233.000000,0.994000,6.900000,0.400000,2.100000,8.000000,4.090000
75%,2008.500000,38.500000,6.000000,4.000000,0.651500,2.250000,66.000000,0.000000,60.500000,0.0,0.0,44.000000,75.100000,63.000000,21.000000,19.000000,4.500000,19.000000,3.000000,73.000000,4.000000,0.000000,1.000000,303.500000,254.500000,1.070500,7.600000,0.600000,2.400000,9.250000,6.085000
max,2013.000000,43.000000,8.000000,6.000000,1.000000,5.510000,74.000000,10.000000,69.000000,0.0,0.0,53.000000,107.200000,73.000000,43.000000,41.000000,11.000000,34.000000,6.000000,130.000000,6.000000,1.000000,2.000000,425.000000,316.000000,1.507000,9.500000,1.500000,4.000000,10.900000,12.830000

In [22]:
towed.set_index('date', inplace = True)

In [24]:
towed.ix['2014-11-04'].head(5)

,make,style,model,color,plate,state,towed_to,facility_phone,inventory_num
date,,,,,,,,,
2014-11-04,LINC,LL,,GRN,V322831,IL,10300 S. Doty,(773) 568-8495,2749375
2014-11-04,CHRY,VN,,BLU,7101535,IL,701 N. Sacramento,(773) 265-7605,6797250
2014-11-04,PLYM,VN,TK,GRN,V144454,IL,701 N. Sacramento,(773) 265-7605,6797248
2014-11-04,CHEV,VN,TK,BLK,K719308,IL,701 N. Sacramento,(773) 265-7605,6797246
2014-11-04,CHEV,4D,IMP,SIL,UG5J2P,MO,701 N. Sacramento,(773) 265-7605,6797244

In [25]:
# SELECT *
# FROM towed
# WHERE date = '2014-11-04'
# LIMIT 5;

query3 = "SELECT * FROM towed where date = '2014-11-04 LIMIT 5"
towed3 = sql.read_sql(query, con=conn, parse_dates={'date':'%m/%d/%Y'})
towed3.head()

,date,make,style,model,color,plate,state,towed_to,facility_phone,inventory_num
0,2014-11-18,FORD,LL,,BLK,S105053,IL,10300 S. Doty,(773) 568-8495,2750424
1,2014-11-18,HOND,4D,ACC,BLK,S415270,IL,400 E. Lower Wacker,(312) 744-7550,917129
2,2014-11-18,CHRY,VN,,SIL,V847641,IL,701 N. Sacramento,(773) 265-7605,6798366
3,2014-11-18,HYUN,4D,,SIL,N756530,IL,400 E. Lower Wacker,(312) 744-7550,917127
4,2014-11-18,TOYT,4D,,WHI,K702211,IL,400 E. Lower Wacker,(312) 744-7550,917128

In [26]:
towed.ix['2014-11-04', 'make'] #will give you a list of distinct values

date
2014-11-04    LINC
2014-11-04    CHRY
2014-11-04    PLYM
2014-11-04    CHEV
2014-11-04    CHEV
2014-11-04    FORD
2014-11-04    DODG
2014-11-04    DODG
2014-11-04    ZCZY
2014-11-04    CHEV
2014-11-04    CHEV
2014-11-04    OLDS
2014-11-04    OLDS
2014-11-04    LINC
2014-11-04    LINC
2014-11-04     ISU
2014-11-04    HYUN
2014-11-04    TOYT
2014-11-04    CHEV
2014-11-04    CHEV
2014-11-04     SAA
2014-11-04    PONT
2014-11-04    DODG
2014-11-04    NISS
2014-11-04    DODG
2014-11-04    OLDS
2014-11-04    PONT
2014-11-04    DODG
2014-11-04    FORD
2014-11-04    FORD
              ...
2014-11-04    LINC
2014-11-04    TOYT
2014-11-04    TOYT
2014-11-04    MASE
2014-11-04    DODG
2014-11-04    NISS
2014-11-04    FORD
2014-11-04    FORD
2014-11-04    DODG
2014-11-04    PONT
2014-11-04    JEEP
2014-11-04    LINC
2014-11-04    FORD
2014-11-04    FORD
2014-11-04    DODG
2014-11-04    FORD
2014-11-04    SATR
2014-11-04    OLDS
2014-11-04    NISS
2014-11-04    FORD
2014-11-04    DODG
2014-11-04    AUDI
2014-11-04    PLYM
2014-11-04    FORD
2014-11-04    CHEV
2014-11-04    INFI
2014-11-04    SUZI
2014-11-04    MASE
2014-11-04    CHEV
2014-11-04    CHEV
Name: make, dtype: object

In [27]:
# SELECT *
# FROM towed
# WHERE date = '2014-11-04';
towed.reset_index(inplace=True)
towed[towed['date'] == '2014-11-04']

,date,make,style,model,color,plate,state,towed_to,facility_phone,inventory_num
1350,2014-11-04,LINC,LL,,GRN,V322831,IL,10300 S. Doty,(773) 568-8495,2749375
1351,2014-11-04,CHRY,VN,,BLU,7101535,IL,701 N. Sacramento,(773) 265-7605,6797250
1352,2014-11-04,PLYM,VN,TK,GRN,V144454,IL,701 N. Sacramento,(773) 265-7605,6797248
1353,2014-11-04,CHEV,VN,TK,BLK,K719308,IL,701 N. Sacramento,(773) 265-7605,6797246
1354,2014-11-04,CHEV,4D,IMP,SIL,UG5J2P,MO,701 N. Sacramento,(773) 265-7605,6797244
1355,2014-11-04,FORD,SW,,SIL,S860992,IL,10300 S. Doty,(773) 568-8495,2749362
1356,2014-11-04,DODG,VN,,RED,571R990,IL,701 N. Sacramento,(773) 265-7605,6797239
1357,2014-11-04,DODG,PK,TK,BRO,1381812,IL,10300 S. Doty,(773) 568-8495,2749364
1358,2014-11-04,ZCZY,2D,,BRO,,IL,10300 S. Doty,(773) 785-9752,1714849
1359,2014-11-04,CHEV,4D,,SIL,,,10300 S. Doty,(773) 568-8495,2749363
1360,2014-11-04,CHEV,4D,,BLK,K527576,IL,10300 S. Doty,(773) 568-8495,2749365
1361,2014-11-04,OLDS,VN,TK,MAR,695R324,IL,701 N. Sacramento,(773) 265-7605,6797237
1362,2014-11-04,OLDS,4D,,TAN,N646613,IL,10300 S. Doty,(773) 568-8495,2749359
1363,2014-11-04,LINC,4D,,SIL,,,10300 S. Doty,(773) 568-8495,2749358
1364,2014-11-04,LINC,4D,,BLK,E144539,IN,10300 S. Doty,(773) 785-9752,1714848
1365,2014-11-04,ISU,LL,TK,WHI,AY82383,AL,701 N. Sacramento,(773) 265-7605,6797232
1366,2014-11-04,HYUN,2T,,GRN,S991561,IL,701 N. Sacramento,(773) 265-7605,6797224
1367,2014-11-04,TOYT,VN,,GRN,R620262,IL,701 N. Sacramento,(773) 265-7605,6797225
1368,2014-11-04,CHEV,LL,,GRY,IT9801M,IL,10300 S. Doty,(773) 568-8495,2749335
1369,2014-11-04,CHEV,4D,,BLK,R689805,IL,10300 S. Doty,(773) 568-8495,6797229
1370,2014-11-04,SAA,4D,,BLK,V901738,IL,10300 S. Doty,(773) 785-9752,1714847
1371,2014-11-04,PONT,4D,,MAR,X149084,IL,10300 S. Doty,(773) 785-9752,1714846
1372,2014-11-04,DODG,4D,,GRY,,IL,10300 S. Doty,(773) 568-8495,2749357
1373,2014-11-04,NISS,4D,,BLK,S806552,IL,10300 S. Doty,(773) 568-8495,2749355
1374,2014-11-04,DODG,4D,,GRY,P432676,IL,701 N. Sacramento,(773) 265-7605,6797220
1375,2014-11-04,OLDS,4D,,BLK,,IL,701 N. Sacramento,(773) 265-7605,6797216
1376,2014-11-04,PONT,4D,,MAR,837PDG,WI,701 N. Sacramento,(773) 265-7605,6797217
1377,2014-11-04,DODG,VN,,RED,,IL,10300 S. Doty,(773) 568-8495,2749360
1378,2014-11-04,FORD,LL,,BLK,V521737,IL,10300 S. Doty,(773) 568-8495,464577
1379,2014-11-04,FORD,4D,,GRY,L702784,IL,10300 S. Doty,(773) 785-9752,1714845
...,...,...,...,...,...,...,...,...,...,...
1390,2014-11-04,LINC,4D,,GRN,L901713,IL,10300 S. Doty,(773) 568-8495,2749370
1391,2014-11-04,TOYT,2D,,SIL,190R367,IL,10300 S. Doty,(773) 568-8495,2749345
1392,2014-11-04,TOYT,2D,,GRN,V241962,IL,10300 S. Doty,(773) 568-8495,2749352
1393,2014-11-04,MASE,4D,,GRY,B345780,IL,701 N. Sacramento,(773) 265-7605,6797207
1394,2014-11-04,DODG,VN,,WHI,L293657,IL,10300 S. Doty,(773) 568-8495,2749354
1395,2014-11-04,NISS,LL,,GRY,V583736,IL,701 N. Sacramento,(773) 265-7605,6797201
1396,2014-11-04,FORD,LL,,BLK,796ERG,MN,701 N. Sacramento,(773) 265-1846,1532877
1397,2014-11-04,FORD,LL,,BLK,S485239,IL,10300 S. Doty,(773) 568-8495,2749349
1398,2014-11-04,DODG,4D,,BLK,E274365,IL,10300 S. Doty,(773) 568-8495,2749348
1399,2014-11-04,PONT,4D,,MAR,S728401,IL,10300 S. Doty,(773) 568-8495,2749347
1400,2014-11-04,JEEP,LL,,RED,R491482,IL,701 N. Sacramento,(773) 265-7605,6797196
1401,2014-11-04,LINC,4D,,BLK,R470097,IL,701 N. Sacramento,(773) 265-7605,6797194
1402,2014-11-04,FORD,2D,,WHI,V145161,IL,701 N. Sacramento,(773) 265-7605,6797188
1403,2014-11-04,FORD,VN,,WHI,00527142,IL,701 N. Sacramento,(773) 265-7605,6797186
1404,2014-11-04,DODG,4D,,SIL,P579868,IL,10300 S. Doty,(773) 568-8495,2749332
1405,2014-11-04,FORD,4D,,DBL,CAPITAL,WI,701 N. Sacramento,(773) 265-7605,6797189
1406,2014-11-04,SATR,4D,,GRN,V514780,IL,701 N. Sacramento,(773) 265-7605,6797190
1407,2014-11-04,OLDS,4D,,GRY,N935508,IL,10300 S. Doty,(773) 568-8495,2749343
1408,2014-11-04,NISS,4D,,SIL,R952618,IL,10300 S. Doty,(773) 568-8495,2749329
1409,2014-11-04,FORD,4D,,MAR,V612513,IL,10300 S. Doty,(773) 568-8495,2749337
1410,2014-11-04,DODG,VN,TK,BLU,731R563,IL,10300 S. Doty,(773) 568-8495,2749386
1411,2014-11-04,AUDI,4D,,WHI,E150919,IL,10300 S. Doty,(773) 568-8495,2749334
1412,2014-11-04,PLYM,LL,,GRY,,IL,10300 S. Doty,(773) 568-8495,2749326
1413,2014-11-04,FORD,4D,,GRN,VUO601,IN,701 N. Sacramento,(773) 265-7605,6797183
1414,2014-11-04,CHEV,4D,,SIL,A014416,IL,701 N. Sacramento,(773) 265-7605,6797182
1415,2014-11-04,INFI,4D,,BLK,V682152,IL,701 N. Sacramento,(773) 265-7605,6797178
1416,2014-11-04,SUZI,LL,,TAN,E259378,IL,701 N. Sacramento,(773) 265-7605,6797177
1417,2014-11-04,MASE,4D,,GRY,,IL,10300 S. Doty,(773) 568-8495,2749377
1418,2014-11-04,CHEV,2D,,BLU,V609354,IL,10300 S. Doty,(773) 568-8495,2749378
1419,2014-11-04,CHEV,2D,,SIL,552P849,IL,10300 S. Doty,(773) 568-8495,2749381

In [28]:
towed.set_index('date', inplace=True)

In [33]:
cols = ['make', 'color', 'state']
towed[cols][:5] #indexing with column then rows

            make color state
date
2014-11-18  FORD   BLK    IL
2014-11-18  HOND   BLK    IL
2014-11-18  CHRY   SIL    IL
2014-11-18  HYUN   SIL    IL
2014-11-18  TOYT   WHI    IL

In [36]:
# SELECT *
# FROM towed
# WHERE make = 'FORD'
# ORDER BY state DESC
# LIMIT 5;

towed[towed['make']=='FORD'].sort_index().head()

,make,style,model,color,plate,state,towed_to,facility_phone,inventory_num
date,,,,,,,,,
2014-08-20,FORD,VN,TK,MAR,V468364,IL,701 N. Sacramento,(773) 265-7605,6791149
2014-08-21,FORD,VN,TK,BLK,V414355,IL,10300 S. Doty,(773) 568-8495,2744211
2014-08-21,FORD,LL,TK,TAN,S662278,IL,10300 S. Doty,(773) 568-8495,2744208
2014-08-21,FORD,4D,,BLU,5311TX,IL,701 N. Sacramento,(773) 265-7605,6791157
2014-08-21,FORD,LL,TK,BLK,N762179,IL,10300 S. Doty,(773) 568-8495,2744213

In [40]:
# SELECT *
# FROM towed
# WHERE color = 'BLK'
#   AND state = 'MI';

towed[(towed['color']=='BLK') & (towed['state']=='MI')]

,make,style,model,color,plate,state,towed_to,facility_phone,inventory_num
date,,,,,,,,,
2014-11-12,DODG,LL,,BLK,CLV6160,MI,701 N. Sacramento,(773) 265-7605,6797946
2014-09-08,CHEV,2D,,BLK,3KMT29,MI,10300 S. Doty,(773) 568-8495,2745448
2014-08-27,KIA,4D,,BLK,DAN1057,MI,701 N. Sacramento,(773) 265-7605,6791554

In [47]:
# SELECT *
# FROM towed
# WHERE make = 'PORS'
#   OR state = 'NY'
# ORDER BY make, color DESC;

towed[(towed['make']=='PORS') | (towed['state']=='NY')].sort(['make', 'color'], ascending=[True, False])

C:\Users\hanna\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,make,style,model,color,plate,state,towed_to,facility_phone,inventory_num
date,,,,,,,,,
2014-09-27,AUDI,4D,,SIL,EWA7707,NY,701 N. Sacramento,(773) 265-7605,6794421
2014-09-27,AUDI,4D,,SIL,EWA7707,NY,701 N. Sacramento,(773) 265-7605,6794421
2014-11-11,BUIC,LL,,WHI,GNW2480,NY,10300 S. Doty,(773) 568-8495,2749681
2014-10-08,PORS,LL,,RED,V515513,IL,701 N. Sacramento,(773) 265-7605,6795116
2014-11-01,PORS,LL,,BLK,V671447,IL,10300 S. Doty,(773) 568-8495,2749122
2014-09-25,PORS,LL,,BLK,,IL,701 N. Sacramento,(773) 265-7605,6794214
2014-09-19,PORS,LL,,BLK,V733398,IL,701 N. Sacramento,(773) 265-7605,6793740
2014-09-01,SUZI,4D,,GRY,EHL9836,NY,10300 S. Doty,(773) 568-8495,2744842

In [48]:
md = (towed['style'] == '4D') & (towed['state']== 'IL')

In [49]:
md.value_counts() #Get count for what the filter pulls

True     2570
False    2495
dtype: int64

In [52]:
towed[md][['make', 'model', 'color']].head() #can define variable with the filter and u

            make model color
date
2014-11-18  HOND   ACC   BLK
2014-11-18  HYUN         SIL
2014-11-18  TOYT         WHI
2014-11-18  CHEV         BLK
2014-11-18  MERZ         BLK

In [1]:
towed[towed.duplicated()] #can pull up duplicated rows

NameError: name 'towed' is not defined